__pycache__/
*.py[cod]
*.ipynb
.pytest_cache/
.venv/
venv/
env/
.env
.DS_Store
build/
dist/
*.parquet
*.csv
*.pdf
*.html
../fe/build/
../fe/.dart_tool/
../fe/.flutter-plugins
../fe/.flutter-plugins-dependencies
